@CHARSET "US-ASCII";
.core_enabled {
	color : blue;
    background-image: url('images/greencheck.png');
    background-repeat: no-repeat;
    background-position: center; 
    height:32px;
    width:32px;
}

.core_disabled {
	color : grey;
    background-image: url('images/redx.png');
    background-repeat: no-repeat;
    background-position: center; 
    height:32px;
    width:32px;
}

.table {
    display:table;
}
.header {
    display:table-header-group;
    font-weight:bold;
}
.rowGroup {
    display:table-row-group;
}
.row {
    display:table-row;
}
.cell {
    display:table-cell;
}