@CHARSET "US-ASCII";
.core_enabled {
	color : blue;
    background-image: url('images/greencheck.png');
    background-repeat: no-repeat;
    background-position: center; 
    height:32px;
    width:32px;
}

.core_disabled {
	color : grey;
    background-image: url('images/redx.png');
    background-repeat: no-repeat;
    background-position: center; 
    height:32px;
    width:32px;
}

td{font-weight: bold;}

.table {
    display:table;
    border: solid;
    border-color: grey;
}

.header {
	display: table-header;
    column-span: all;
    font-weight:bold;
}

.rowGroup {
    display:table-row-group;
}
.row {
    display:table-row;
}
.cell {
    display:table-cell;
    padding: 5px;
}

.header {
    display:table-cell;
    padding: 5px;
}

.pending {
	font-style: italic;
}

option:first {
    color: #999;
}